*{
  margin:0;
  padding:0;
}
body{
  font-family:sans-serif;
  user-select:none;
}
.header{
  padding:10px;
  background:#fff;
 /* border-bottom:1px solid rgba(0,0,0,.09);*/
  box-shadow:0px 0px 10px rgba(0,0,0,.03);
  height:65px;
}
.div{
  font-size:17px;
  border:1px solid rgba(0,0,0,.09);
  padding:10px 15px;
  width:auto;
  border-radius:20px;
  padding-left:20px;
  transition:all .3s;
}
.div a{
  color:#212121;
}
.div a:hover{
  color:#3061ff;
}
.div:hover{
  border-color:#3061ff;
}
.bi-upload{
  padding:10px 11.5px;
  border-radius:50%;
  font-size:17px;
  border:1px solid rgba(0,0,0,.09);
  margin-left:10px;
  transition:all .3s;
}
.bi-cup{
  border-radius:50%;
  font-size:35px;
  padding:10px;
  color:#3061ff;
}
.iconsF{
  display:inline;
  float:right;
  padding:10px;
}
.bi-upload:hover{
  border-color:#3061ff;
  color:#3061ff;
}
.tooltip1{
  position:fixed;
  right:30px;
  top:57px;
  text-align:center;
}
.toolC{
  background:#fff;
  box-shadow:0px 0px 10px rgba(0,0,0,.03);
  padding:10px 16px;
  border-radius:10px;
  border:1px solid rgba(0,0,0,.09);
}
.tooltip1{
  display:none;
}
a{
  text-decoration:none;
}
.imageI{
}
.profileB{
 width:100%;
  height:140px;
}
.profile{
  width:130px;
  border-radius:50%;
  border:6px solid #fff;
}
.imgB{
  position: relative;
  top:-80px;
  text-align:center;
}
.pInfo{
  margin-top:7px;
}
.box0{
  padding:15px;
  margin-top:-80px;
  width:370px;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:100px;
}
@media screen and (max-width:600px){
  .box0{
    width:360px;
  }
  .profileB{
    height:120px;
  }
  
  
}
.box{
  text-align:center;
  border:1px solid rgba(0,0,0,.08);
  border-radius:8px;
  padding:15px;
}
.name{
  padding:8px;
  border:none;
  border:1px solid rgba(0,0,0,.07);
  background:rgba(0,0,0,.03);
  border-radius:5px;
  margin-bottom:15px;
  margin-top:10px;
  height:45px;
  width:100%;
  transition:all .3s;
}
.box h3{
  margin-top:15px;
}
.descp{
  padding:8px;
  border:none;
  border:1px solid rgba(0,0,0,.07);
  background:rgba(0,0,0,.03);
  border-radius:5px;
  margin-bottom:15px;
  height:105px;
  width:100%;
  transition:all .3s;
}
input[type="text"]:focus{
  outline:none;
  border-color:#212121;
  background:#fff;
}
textarea:focus{
  outline:none;
  border-color:#212121;
  background:#fff;
}
.tea{
  margin-top:20px;
  margin-bottom:7px;
  height:95px;
  padding:10px;
  background:#edf3ff;
  border-radius:5px;
  border:1px solid #d6e4ff;
  display:flex;
  align-items:center;
  justify-content:center;
}
.teaI{
  font-size:43px;
  margin-right:23px;
}
.teaT{
  font-size:16px;
  background:#fff;
  color:#3061ff;
  padding:9px 16px;
  border-radius:50%;
  margin-right:8px;
  border:1px solid #d9e6ff;
}
#donV{
  width:40px;
  padding:5px;
  text-align:center;
  height:40px;
  border:none;
  border-radius:5px;
  border:1px solid rgba(0,0,0,.1);
}
#donV:focus{
  outline:none;
}
#valP{
  background:#3061ff;
  border:none;
  padding:12px;
  width:100%;
  color:#fff;
  border-radius:25px;
  margin-bottom:15px;
  margin-top:8px;
  transition:all .2s;
}
#valP:hover{
  box-shadow:0px 0px 10px rgba(0,0,0,.1);
  opacity:90%;
}
.fotter{
  text-align:center;
  margin-bottom:50px;
  font-size:14px;
  color:rgba(0,0,0,.7);
}
.tea:before{content:"x";color:rgba(0,0,0,.2);position: relative;left:65px;}
@-webkit-keyframes hvr-pulse-shrink {
  to {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}
@keyframes hvr-pulse-shrink {
  to {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}
.hvr-pulse-shrink {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-pulse-shrink:hover, .hvr-pulse-shrink:focus, .hvr-pulse-shrink:active {
  -webkit-animation-name: hvr-pulse-shrink;
  animation-name: hvr-pulse-shrink;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 4;
  animation-iteration-count: 4;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}
.overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(25px);
   /* z-index: 1;*/
    display: none;
    text-align:center;
    align-items:center;
    justify-content:center;
}

.popup .content {
    /*position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);*/
    background: #fff;
    width: 95%;
    max-width: 500px;
    border-radius: 12px;
   /* z-index: 2;*/
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

.popup .close-btn {
    cursor: pointer;
    position: absolute;
    right: 12px;
    top: 12px;
    width: 30px;
    height: 30px;
    background: #212121;
    color: #f3f3f3;
    font-size: 25px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
}

.popup.active .overlay {
    display: flex;
}

.popup.active .content {
    transition: all 300ms ease-in-out;
    transform: translate(-50%, -50%) scale(1);
}
