.box-shadow{box-shadow:0px 0px 10px}
.box-shadow-1{
box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.box-shadow-2{
box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.box-shadow-3{
box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.box-shadow-4{
box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
}
.box-shadow-5{
box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.box-shadow-6{
box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}
.box-shadow-7{
box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}
.box-shadow-8{
box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.box-shadow-9{
box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.box-shadow-10{
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.box-shadow-11{
box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}
.pd-10{padding:10px}
.pd-5{padding:5px}
.pd-15{padding:15px}
.pd-20{padding:20px}
.pd-25{padding:25px}
.pd-30{padding:30px}
.pd-35{padding:35px}
.pd-40{padding:40px}
.p-f{position:fixed}
.p-r{position:relative}
.p-a{position:absolute}
.t-10{
top:10px;
}
.t-15{
top:15px;
}
.t-20{
top:20px;
}
.t-25{
top:25px;
}
.t-30{
top:30px;
}
.t-35{
top:35px;
}
.t-40{
top:40px;
}
.l-10{
left:10px;
}
.l-15{
left:15px;
}
.l-20{
left:20px;
}
.l-25{
left:25px;
}
.l-30{
left:30px;
}
.l-35{
left:35px;
}
.l-40{
left:40px;
}
.r-10{
right:10px;
}
.r-15{
right:15px;
}
.r-20{
right:20px;
}
.r-25{
right:25px;
}
.r-30{
right:30px;
}
.r-35{
right:35px;
}
.r-40{
right:40px;
}

.button {
  /* Variables */
 --button_radius: 0.75em;
 --button_color: #e8e8e8;
 --button_outline_color: #000000;
 font-size: 17px;
 font-weight: bold;
 border: none;
 border-radius: var(--button_radius);
 background: var(--button_outline_color);
}

.button_top {
 display: block;
 box-sizing: border-box;
 border: 2px solid var(--button_outline_color);
 border-radius: var(--button_radius);
 padding: 0.75em 1.5em;
 background: var(--button_color);
 color: var(--button_outline_color);
 transform: translateY(-0.2em);
 transition: transform 0.1s ease;
}

.button:hover .button_top {
  /* Pull the button upwards when hovered */
 transform: translateY(-0.33em);
}

.button:active .button_top {
  /* Push the button downwards when pressed */
 transform: translateY(0);
}
