@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
  display:flex;
  align-items: center;
  justify-content: center;
  min-height:80vh;
 /* background:rgba(3, 130, 255);,1;*/
  background:url("https://i.postimg.cc/XqTLkLR6/cool-background.png") no-repeat;
  background-size: cover;
}
blockquote::before{
  content:"";
  height:100px;
  width:100px;
  background: red;
  border-radius:50%;
}
blockquote{
  float:none;
  padding:10px;
  margin:0;
}
#Qtext{
margin-bottom:10px;
  width:100%;
  border:none;
  font-size:17px;
  color:rgba(0,0,0,.7);
}
cite{
  margin-top:
}
.blockquote{
  box-shadow:0px 0px 15px rgba(0,0,0,.05);
  padding:6px;
  color:rgba(0,0,0,.8);
  border-radius:10px;
  font-size:17px;
  font-family: 'Poppins', sans-serif;
  width:300px;
  /*border:1px solid rgba(0,0,0,.1);*/
  background:rgba(255,255,255,.5);
  backdrop-filter:blur(2px);
}
.blockquote .fa-quote-left{
  font-size:40px;
  color:rgba(0,0,0,.4);
  margin-top:10px;
  margin-left:10px;
}
.blockquote cite{
float:right;
  margin-top:15px;
  color:rgba(0,0,0,.7);
}
.blockquote cite::before{
  content:"~";
  margin-right:8px;
  color:rgba(0,0,0,.5);
}
.bqShare{
  
  margin-top:40px;
  padding:10px;
  border-top:1px solid rgba(0,0,0,.1);
  display:flex;
}
.Bshare{
  transition:all .3s;
  border:none;
  padding:8px 16px;
  border-radius:15px;
  font-size:17px;
  color:#3061ff;
  margin-top:7px;
  background:none;
  border:1px solid #3061ff;
  align-items:center;
  text-align: center;
}
.Bshare:hover{
  background:#3061ff;
  color:#f3f3f3;
  box-shadow:0px 10px 10px rgba(0,0,0,.1)
}
.Bshare .fa-copy{
  margin-right:3px
}


.Bshave{
  transition:all .3s;
  border:none;
  padding:8px 16px;
  border-radius:15px;
  font-size:17px;
  color:#f7f7f7;
  margin-top:7px;
  background:#3061ff;
  align-items:center;
  text-align: center;
  width:170px;
  margin-left:10px;
}
.Bshave:hover{
  background:none;
  color:#3061ff;
border:1px solid #3061ff;
  box-shadow:0px 10px 10px rgba(0,0,0,.1)
}
.Bshave .fa-save{
  margin-right:5px
}
@media screen and (max-width:350px){
  .Bshare span{
    font-size:0;
  }
  .fa-copy{
    font-size:17px;
    margin-right:0;
  }
  .Bshave{
    margin-left:15px;
    width:195px;
  }
}
